[submodule "bundle/vim-colorshcemes"]
	path = bundle/vim-colorshcemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/yaml-vim"]
	path = bundle/yaml-vim
	url = git@github.com:ingydotnet/yaml-vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-matlab"]
	path = bundle/vim-matlab
	url = git@github.com:sgeb/vim-matlab
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "bundle/vim-latex-suite"]
	path = bundle/vim-latex-suite
	url = git@github.com:gerw/vim-latex-suite.git
[submodule "bundle/vim-latex-live-preview"]
	path = bundle/vim-latex-live-preview
	url = git@github.com:xuhdev/vim-latex-live-preview.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-record"]
	path = bundle/vim-record
	url = git@github.com:chrisbra/Replay.git
[submodule "bundle/vim-ros"]
	path = bundle/vim-ros
	url = https://github.com/jbohren-forks/vim-ros.git
[submodule "bundle/vim-zenmode"]
	path = bundle/vim-zenmode
	url = git://github.com/mmai/vim-zenmode.git
[submodule "bundle/vim-goyo"]
	path = bundle/vim-goyo
	url = git@github.com:junegunn/goyo.vim.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "bundle/vim-lua-ftplugin"]
	path = bundle/vim-lua-ftplugin
	url = git@github.com:xolox/vim-lua-ftplugin.git
[submodule "_fonts/ttf-monofur-powerline"]
	path = _fonts/ttf-monofur-powerline
	url = git@github.com:rsrsl/ttf-monofur-powerline.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "bundle/vim-luna"]
	path = bundle/vim-luna
	url = git@github.com:Pychimp/vim-luna.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-trailing-whitespace"]
	path = bundle/vim-trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = git@github.com:godlygeek/csapprox.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
